<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="icon" href="img/lil_guy.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Created by {{name}}</p>
            <img class="portrait" src="/img/robot.jpg">
        </div>
        {{>footer}}
    </body>
</html>